#home-container {
    width: 60vw;
    margin: auto;
    padding: 7em 10em 0em 10em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

#headshot {
    width: 60%;
    margin: 2em;
    border-radius: 0.5em;
    grid-column: 1;
    grid-row: 1 / span 2;
}


#bio-block {
    padding: 2em;
    display: flex;
    flex-flow: column;
    font-family: "Inter";
    grid-column: 2;
}

#bio-block-header{
    font-weight: 400;
    font-size: 1.75em;
    padding-bottom: .25em;
    align-self: center;
}

#bio-block-body-1{
    font-size: 1.1em;
    text-indent: 1em;
}

