.top-bar-container {
    position: fixed;
    background-color: #ffe9c9;
    top: 0;
    display: flex; 
    flex-flow: column;
    justify-content: center; 
    align-items: center;
    height: auto;
    width: 100%;
    z-index: 2;
    opacity: .975;
    padding-bottom: .5em;
}

#my-name{
    font-family: 'Roboto Slab';
    font-size: 2em;
}

#project-link-list{
    font-family: "Inter";
    font-size: 1.75em;
    padding-bottom: .25em;
}

.top-bar-container > p{
    padding-top: .5em;
}

#project-link-list{
    display: flex;
    flex-flow: row;
    width: 80%;
    justify-content: space-evenly;
    padding-top: .5em;
}

a{
    text-decoration-line: none;
}